In [1]:
from expt_mgr import experiment_entry

In [2]:
p1_list = [1, 2, 3, 4]
p2_list = [1, 2]
p3_list = [3, 4, 5]

@experiment_entry(p1=p1_list, p2=p2_list, p3=p3_list)
def model1(p1, p2, p3):
    return p1 + p2 + p3

model1()

               p1  p2  p3  Model Output
Experiment 1    1   1   3             5
Experiment 2    1   1   4             6
Experiment 3    1   1   5             7
Experiment 4    1   2   3             6
Experiment 5    1   2   4             7
Experiment 6    1   2   5             8
Experiment 7    2   1   3             6
Experiment 8    2   1   4             7
Experiment 9    2   1   5             8
Experiment 10   2   2   3             7
Experiment 11   2   2   4             8
Experiment 12   2   2   5             9
Experiment 13   3   1   3             7
Experiment 14   3   1   4             8
Experiment 15   3   1   5             9
Experiment 16   3   2   3             8
Experiment 17   3   2   4             9
Experiment 18   3   2   5            10
Experiment 19   4   1   3             8
Experiment 20   4   1   4             9
Experiment 21   4   1   5            10
Experiment 22   4   2   3             9
Experiment 23   4   2   4            10
Experiment 24   4   2   5            11