In [1]:
from gen_experimentmgt import experiment_entry

In [5]:
p1_list = [1, 2, 3]
p2_list = [1, 2]
p3_list = [1, 2, 3, 4]

@experiment_entry(p1=p1_list, p2=p2_list, p3=p3_list)
def model1(p1, p2, p3):
    return p1 + p2 + p3

model1()

In [4]:
p1 = ["A", "B", "C"]
p2 = ["D"]

@experiment_entry(p1=p1, p2=p2)
def model2(p1, p2):
    return p1 + p2

model2()