In [19]:
from experimentmgt import experiment_entry

In [20]:
# define parameters
p1 = [1, 2, 3]
p2 = [4, 5, 6]
# every_combination = False

In [23]:
# define experiment entry function
@experiment_entry(p1=p1, p2=p2)
def model(p1=p1, p2=p2):
    print("Inside the function.")

model(p1=p1, p2=p2)

Inside the function.
Inside the function.
Inside the function.
<pandas.io.formats.style.Styler object at 0x123f94640>

In [ ]:
@experiment_entry(params=)